/* Place CSS styles here */
.logo{
    width:80px
}
.pink-zebra-main{
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
}
input{
    border: radius 16px;
    margin-bottom:16px:
}
label{
    display:block;
    margin-bottom:4px
}
form{
    border:1px solid black;
}
